{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 container-landing-page align-self-end">align
                <h1 class="display-4 logo-font text-black">
                    Iconic football shirts & tricots from the golden 90's
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Discover the Nostalgia</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    <div class="container callout-container">
        <!-- Callout section -->
        <div class="row">
          <div class="col-12">
            <section class="callout jumbotron text-center">
              <h1 class="jumbotron-header">Iconic football shirts & tricots<br>from the golden 90's.
              </h1>
              <h4 class="lead"><strong>"Discover the Nostalgia."</strong></h4>
              <a class="btn btn-home btn-lg" href="{% url 'products' %}" role="button">GO TO SHOP</a>
            </section>
          </div>
        </div>
      </div>
{% endblock %}