{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">WISHLIST from: {{ user.username }}</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if wishlist.products.all %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th class="col-4">Info:</th>
                            <th class="col-4 text-center">Price</th>
                            <th class="col-4 text-center">Actions:</th>
                        </tr>
                    </thead>
                    {% for item in wishlist.products.all %}
                    <!--<tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.image.url }}">
                        </td>
                        <td class="p-3">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded mr-3" src="{{ item.image.url }}" style="max-width: 400px;">
                                <div>
                                    <p class="my-0"><strong>{{ item.name }}</strong></p>
                                    <p class="my-0"><strong>{{ item.team }}</strong></p>
                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            <p class="my-0"><strong>{{ item.name }}</strong></p>
                            <p class="my-0"><strong>{{ item.team }}</strong></p>
                        </td>
                        <td class="p-3">
                            <p class="my-0">{{ item.price }} €</p>
                        </td>
                        <td class="p-3">
                            <a href="{% url 'product_detail' item.id %}" class="btn btn-outline-black btn-sm">
                                <span class="icon">
                                    <i class="fa-solid fa-shirt"></i>
                                </span>
                                <span class="text-uppercase">Product Details</span>
                            </a>
                            <a href="" class="btn btn-black btn-sm">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                <span class="text-uppercase">Remove from Wishlist</span>
                            </a>
                        </td>
                    </tr>-->
                    <tr>
                        <td class="p-3">
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded mr-3" src="{{ item.image.url }}" style="max-width: 200px;">
                                <div>
                                    <p class="my-0"><strong>{{ item.team }}</strong></p>
                                </div>
                            </div>
                        </td>
                        <td class="p-3 text-center">
                            <p class="my-0">{{ item.price }} €</p>
                        </td>
                        <td class="p-3 text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="{% url 'product_detail' item.id %}" class="btn btn-outline-black btn-sm mr-2">
                                    <span class="icon">
                                        <i class="fa-solid fa-shirt"></i>
                                    </span>
                                    <span class="text-uppercase">Details</span>
                                </a>
                                <a href="{% url 'remove_from_wishlist' item.id %}" class="btn btn-black btn-sm">
                                    <span class="icon">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                    <span class="text-uppercase">Remove</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your Wishlist is empty</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black">
                <span class="icon">
                    <i class="fas fa-chevron-circle-left"></i>
                </span>
                <span>Back to Shop</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- CHECK THIS NEW LAY OUT-->
<!--<div class="table-responsive rounded">
    <table class="table table-sm table-borderless">
        <thead class="text-black">
            <tr>
                <th class="col-4 d-none d-md-block">Info:</th>
                <th class="col-4 text-center">Price</th>
                <th class="col-4 text-center">Actions:</th>
            </tr>
        </thead>
        {% for item in wishlist.products.all %}
        <tr>
            <td class="p-3">
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded mr-3 d-block d-md-none" src="{{ item.image.url }}" style="max-width: 100px;">
                    <img class="img-fluid rounded mr-3 d-none d-md-block" src="{{ item.image.url }}" style="max-width: 200px;">
                    <div>
                        <p class="my-0 d-block d-md-none"><strong>{{ item.team }}</strong></p>
                        <p class="my-0 d-block d-md-none"><strong>{{ item.price }} €</strong></p>
                        <p class="my-0 d-none d-md-block"><strong>{{ item.team }}</strong></p>
                    </div>
                </div>
            </td>
            <td class="p-3 text-center">
                <p class="my-0">{{ item.price }} €</p>
            </td>
            <td class="p-3 text-center">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'product_detail' item.id %}" class="btn btn-outline-black btn-sm mr-2">
                        <span class="icon">
                            <i class="fa-solid fa-shirt"></i>
                        </span>
                        <span class="text-uppercase d-none d-md-block">Details</span>
                    </a>
                    <a href="" class="btn btn-black btn-sm">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span class="text-uppercase d-none d-md-block">Remove</span>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>-->