* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/dzlveh6fi/image/upload/v1706519126/maradona94_tvferj.webp') no-repeat center 90px fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Kanit', 'sans-serif';
}

/*------------------------- NEW LANDING PAGE -- */
.callout-container {
    height: 100vh;
   /* background: url('https://res.cloudinary.com/dzlveh6fi/image/upload/v1706519126/maradona94_tvferj.webp') no-repeat center center fixed;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: #ffffff6b;
    border-radius: 4rem;
}

.jumbotron-header {
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-home {
    background-color: #98c9e1;
    border: 2px solid black;
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    border-radius: 4rem;
    letter-spacing: 2px;
}

/* Hover effect */
.btn-home:hover {
    background-color: #000000;
    color: #ffffff;
}
/*-------------------------------------------- */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*.container-landing-page {
    background: #ffefd582;
}*/

.logo-font {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-football {
    background-color: #e9f0f0;
}
.main-logo-link {
    width: fit-content;
    background-color: #e9f0f0;
}

.navbar {
    background-color: #e9f0f0;
}

.color-cart {
    color: black;
}

.shop-now-button {
    background: black;
    color: #e9f0f0;
    min-width: 260px;
    border-radius: 5rem;
}

.dropdown-menu {
    background-color: #e9f0f0;
}

.submit,
.increment-qty,
.decrement-qty {
    color: #e9f0f0;
    font-weight: bold;
}

.btn-black {
    background: black !important;
    border-radius: 2rem;
    color: white !important;

}

.btn-outline-black {
    background: #e9f0f0;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 2px solid black;
    border-radius: 2rem;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #e9f0f0 !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222 !important;
    color: #e9f0f0 !important;
}
.btn-sm {
    color: #e9f0f0 ;
}

.btn-add-product {
    color: #e9f0f0;
    padding: 0.375rem 0.75rem
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 2px solid black !important;
}

.bg-black {
    background: #000 !important;
    border-radius: 5rem;
    margin-left: 4px;
    margin-right: 4px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #e9f0f0;
	z-index: -1;
}

.form-control {
    border-radius: 2rem;
    background-color: #e9f0f0;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-detail {
    color: #e9f0f0;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

/*------------------------------Toasts*/

.custom-toast {
    overflow: visible;
    background-color: #ddebda;
}
.toast-header-success {
    background-color: #4ca846;
    font-size: medium;
}
.toast-body-success {
    background-color: #ddebda;
}

.toast-header-info {
    background-color: #42a3b9;
    font-size: medium;
}
.toast-body-info {
    background-color: #dae9eb;
}
.toast-header-warning {
    background-color: #ffc107;
    font-size: medium;
}
.toast-body-warning {
    background-color: #ffc10778;
}

.toast-header-error {
    background-color: #d75d72;
    font-size: medium;
}
.toast-body-error {
    background-color: #dc353575;
}


.toast-capper {
    height: 2px;
}

.card,
.card-footer {
    background-color: #e9f0f0;
}



/* --------------------------------- products */
.btn-file {
    position: relative;
    overflow: hidden;
    color:#e9f0f0;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    color: #e9f0f0;
}

.btn-update-product {
    color: #e9f0f0;
    padding: 0.375rem 0.75rem;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}
/* ----------------------------------- Wishlist */
.image-wishlist {
    max-width: 200px;
}

@media (max-width: 770px) {
    .image-wishlist {
        max-width: 135px;
        height: auto;
    }
}

/* ---------------------------------- Ratings */

.btn-rating {
    background: black;
    color: #e9f0f0 !important; /* use important to override link colors for <a> elements */
    border: 2px solid black;
    border-radius: 2rem;
}
.btn-rating:hover,
.btn-rating:active,
.btn-rating:focus {
    background: #e9f0f0;
    color: black !important;
}

.btn-purchase-success {
    color: #e9f0f0;
}

/* -------------------------------- Contact */
.back-shop-button {
    background: black;
    color: #e9f0f0;
    border-radius: 2rem;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: black; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    /* border-radius: 0; */
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #e9f0f0;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #e9f0f0;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ----------------------------------- Footer */

.footer-container {  
    background-color: #e9f0f0;
    width: 100% !important;
    
}

.social-footer {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* ----------------------------------- Mailchimp */
#mc_embed_signup {
    background: #e9f0f0;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 400px;
  }

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    .wishlist-image {
        max-width: 480px;
        max-width: 480px;
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    .callout-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* MAKE QUANTITY BUTON TRANSPARENT ???????
.qty-buton {
    background-color: transparent;
    color: #000;
    font-weight: bold;
}
*/

.container-404 {
    background: url('https://res.cloudinary.com/dzlveh6fi/image/upload/v1707468455/baggio_cfx3ob.webp');
}

.logo-404 {
    background-color: #e9f0f0;
}

.input-group>.input-group-append>.btn {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important; 
}

.input-group:not(.has-validation)>.input-group-append:not(:last-child)>.btn {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important; 
}

input::placeholder {
    color:  #9aa3a7 !important;
}

select.form-control {
    padding: 2px 10px;
}