<footer class="container-wrapper content-container footer-container p-3">
  <div class="container quotes-container">
    <section class="footer">
      <div class="row">
        <div class="col-12 col-md-6">
          <h3 class="mb-0">Social</h3>
          <div>Keep up to date with all our latest offers</div>
          <a href="https://www.facebook.com/profile.php?id=61556575044215" target="_blank" class="external-links"><i
              class="fab fa-facebook-square"></i> Follow us on Facebook!</a>

          <h3 class="mb-0 mt-3">Some Nostalgia:</h3>
          <a href="https://medium.com/between-the-lines-its-all-about-football/90s-football-a-story-in-epic-pics-e7b3bdc8de01"
            class="external-links" target="_blank"><i class="fa-solid fa-up-right-from-square"></i> 90's Football, A
            story in pics</a>
          <br>
          <a href="https://www.facebook.com/groups/ninetiesfootball/" target="_blank" class="external-links"><i
              class="fa-solid fa-up-right-from-square"></i> 90's Football Memories</a>
          <br>
          <a href="https://www.thefootballhistoryboys.com/2014/10/football-by-decade-1990s.html" target="_blank"
            class="external-links"><i class="fa-solid fa-up-right-from-square"></i> Football by Decade: 1990s</a>

        </div>
        <div class="col-12 col-md-6 mt-3 mt-sm-0">
          <h3 class="mb-0">Newsletter</h3>
          <div>Get exclusive offers and discount codes by subscribing to our monthly newsletter</div>
          <!-- Mailchimp signup form here -->
          <div id="mc_embed_shell">
            <div id="mc_embed_signup w-100">
              <form
                action="https://gmail.us21.list-manage.com/subscribe/post?u=874dcc9a0bc2cd5866391a684&amp;id=01eca49def&amp;f_id=00fafce6f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mt-2"
                target="_blank">
                <div id="mc_embed_signup_scroll" class="text-center">
                  <div class="form-group row">
                    <label for="mce-EMAIL" class="col-md-3 col-form-label">Your email: <span
                        class="asterisk">*</span></label>
                    <div class="col-md-6">
                      <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" required=""
                        value="">
                    </div>
                    <div class="col-md-3 mt-2 mt-md-0">
                      <button type="submit" name="subscribe" id="mc-embedded-subscribe"
                        class="btn btn-black">Subscribe</button>
                    </div>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
                  <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_874dcc9a0bc2cd5866391a684_01eca49def" tabindex="-1" value="">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-12 text-center pt-3">
    <p class="copyright">Copyright
      <span>&copy;</span>
      <script>
        document.write(new Date().getFullYear());
      </script>
      | All rights reserved | For educational purposes only
    </p>
  </div>
</footer>