<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clubs-link">
                <a href="{% url 'products' %}?category=premiere_league" class="dropdown-item">Premiere League</a>
                <a href="{% url 'products' %}?category=la_liga" class="dropdown-item">La Liga</a>
                <a href="{% url 'products' %}?category=calcio" class="dropdown-item">Calcio</a>
                <a href="{% url 'products' %}?category=bundesliga" class="dropdown-item">Bundesliga</a>
                <a href="{% url 'products' %}?category=other_leagues" class="dropdown-item">Others</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="national-teams-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                National Teams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="national-teams-link">
                <a href="{% url 'products' %}?category=europe" class="dropdown-item">Europe</a>
                <a href="{% url 'products' %}?category=america" class="dropdown-item">America</a>
                <a href="{% url 'products' %}?category=rest_of_the_world" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brands-link">
                <a href="{% url 'products' %}?brand=Adidas" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?brand=Nike" class="dropdown-item">Nike</a>
                <a href="{% url 'products' %}?brand=Umbro" class="dropdown-item">Umbro</a>
                <a href="{% url 'products' %}?brand=Puma" class="dropdown-item">Puma</a>
                <a href="{% url 'products' %}?brand=Kappa" class="dropdown-item">Kappa</a>
                <a href="{% url 'products' %}?brand=Lotto" class="dropdown-item">Lotto</a>
                <a href="{% url 'products' %}?brand=Fila" class="dropdown-item">Fila</a>
                <a href="{% url 'products' %}?brand=Asics" class="dropdown-item">Asics</a>
                <a href="{% url 'products' %}?brand=Kelme" class="dropdown-item">Kelme</a>
            </div>
        </li>
    </ul>
</div>