<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clubs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=premiere_league" class="dropdown-item">Premiere League</a>
                <a href="{% url 'products' %}?category=la_liga" class="dropdown-item">La Liga</a>
                <a href="{% url 'products' %}?category=calcio" class="dropdown-item">Calcio</a>
                <a href="{% url 'products' %}?category=bundesliga" class="dropdown-item">Bundesliga</a>
                <a href="{% url 'products' %}?category=other_leagues" class="dropdown-item">Others</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                National Teams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Europe</a>
                <a href="" class="dropdown-item">America</a>
                <a href="" class="dropdown-item">Rest of the World</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Adidas</a>
                <a href="" class="dropdown-item">Nike</a>
                <a href="" class="dropdown-item">Umbro</a>
                <a href="" class="dropdown-item">Puma</a>
                <a href="" class="dropdown-item">Others</a>
            </div>
        </li>
    </ul>
</div>